.bodyStyle {
    background-color: black;
}

.values{
    height: 200px;
    width: 100%;
    text-align: center;
}
.valuesText{
    font-family: 'Cormorant Upright', sans-serif;
    color: #b2b2b2;
    font-size: 2em;
}

a.link1 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: 10px;
}

h2.header2 {
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-left: 1em;
}

h1.header1{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-left: 1em;
}

p.paragraph {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-left: 2em;
}

li.lineItem{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-left: 2em;
}

.kimPhoto{
    margin-left: 30px;
}

.contactForm {
    color: white;
    font-family: 'Quicksand', sans-serif;
    width: 400px;
    margin-left: 2em;
}

.footerText {
    color: white;
}