<head>

    <meta charset="UTF-8">

    <title>Kim Love Realty</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Cormorant+Upright|Quintessential" rel="stylesheet">
</head>
<% include header %>

<body>
    <div class="bodyStyle">
        <img src="/images/House3.jpg" width="100%">
        <div class="values">
            <br />
            <br />
            <p class="valuesText">We value Dependability and Accuracy</p>
        </div>
        <h2 class="header2">About Me</h2>
        <img src="/images/kim.png" height="260" alt="" class="kimPhoto" style="float:left; padding-right:2em;">
        <div class="pageBody">
            <h1 class="header1">Our Mission</h1>
            <p class="paragraph">Kim Love Realty strives to be a full service top producing Real Estate Company in
                Central Kentucky, while
                exceeding our clients expectations</p>
            <h1 class="header1">Our Vision</h1>
            <p class="paragraph">To provide expert advice in a relaxed enviroment assisting client in achieving their
                goals, while developing long term relationships.</p>
            <p class="paragraph">To provide accurate and up to date information throughout the buying/selling and
                leasing process.</p>
            <p class="paragraph">To provide valuable data on area market trends.</p>
            <p class="paragraph">To maintain a core value system founded on ethics and best practices.</p>
            <br />
            <h1 class="header1">Our Values</h1>
            <ul>
                <li class="lineItem">Honesty and Integrity</li>
                <li class="lineItem">Professionalism</li>
                <li class="lineItem">Confidence</li>
                <li class="lineItem">Dependability</li>
                <li class="lineItem">Accuracy</li>
            </ul>
            <p class="paragraph">Above all, value of our clients time</p>
            <br />
        </div>
    </div>
    <% include footer %>
    <% include scripts %>

    </div>
</body>

</html>