<footer style="background-color:rgb(32, 65, 92); height: 4em;">
    <center>
        <div class="footerText">
            <br />
            <p>KimLoveRealty, 2018</p>
        </div>
    </center>
</footer>