<head>

    <meta charset="UTF-8">

    <title>Kim Love Realty</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<% include header %>

<body>
    <img src="/images/main-house.svg" width="100%">
    <% include footer %>
    <% include scripts %>
</body>

</html>